## Test Results for rv452njit

### Playwright

- Total tests: 25
- Passed tests: 25

### LightHouse

- Performance score: 96
- Accessibility score: 93
- Best practices score: 91
- SEO score: 91
- Average Lighthouse score: 93
